{% extends "layout.html" %}
{% block content %}
    
    <!-- <div class="container-fluid"> -->
        <div class="jumbotron jumbotron-fluid" style="margin-top: -25px;height: 60%;background: #fff;font-family: sans-serif;">
            <div class="container">
                <h1 class="display-5 text-center" style="font-family: Oswald;font-weight: bold">IDEAS WORLDBLOG</h1>
                <p class="lead text-center">Welcome to the blog of
                    <span class="badge badge-dark">Share Idea's</span>
                </p>
            </div>
        </div>
    <!-- </div> -->
    <div class="container-fluid" style="background: url(static/images/sound.jpg);background-attachment: scroll;background-repeat: repeat-x;width: 100%;height: 650px;background-size: cover;background-position: center;margin-top: -5%;>
        <div class="row">
            <p class="typing_text" style="padding-top: 35%;text-align: right;margin-left: 40px;color: #fff;font-size: 3.7em;font-family: Oswald;border-radius: 2px solid #000">
                
            </p>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% for post in posts.items %}
                    <div class="media content-section">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile/' + post.author.image_file) }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                                <small class="text-muted">{{ post.date_posted.strftime('%B %d, %Y') }}</small>
                            </div>
                            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                            <p class="article-content">{{ post.content }}</p>
                        </div>
                    </div>
                {% endfor %} 
                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if posts.page == page_num %}
                            <a class="btn btn-secondary mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="">
                    <div class="">
                        <section class="mySelf">
                            <article class="description">
                                <h4 class="text-white">My Name</h4>
                                Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.
                            </article>
                        </section>
                    </div>
                    <br>
                    <div class="card latestP">
                        <div class="card-header">Latest Posts</div>
                        <ul class="list-group listGroup">
                            <li class="list-group-item list-group-item-light">Latest Post</li>
                            <li class="list-group-item list-group-item-light">Announcement</li>
                            <li class="list-group-item list-group-item-light">etc</li>
                        </ul>
                    </div>
                    <br>
                    <div class="card latestP">
                        <div class="card-header">Follow Social Page</div>
                        <div class="card-body followSocial">
                            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
{% endblock content %}