<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" 
     integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/blog.css') }}">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}"> -->

	{% if title %}
	    <title>ShareIdeas - {{ title }}</title>
	{% else %}
	    <title>ShareIdeas</title>
	{% endif %}
</head>
    <style>
        .mySelf {
            width: 100%;
            position: relative;
            background-image: url("static/images/nextself.jpg");
            background-size: cover;
            min-height: 350px;
        }
        .profileB {
            position: absolute;
            top: 0; 
            z-index: 1;
            padding: 10px;
        }

        .profileUpload {
            width: 100%; 
            height: 50px; 
            position: relative;
            z-index: 2; 
            opacity: 0;
            cursor: pointer;
        }
    </style>
<body>
	<header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark bg-stell">
            <div class="container">
            	<a class="navbar-brand mr-4" href="/">Share Ideas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.contact') }}">Contact</a>
                    </div>
                    <!-- Nabar Right Side -->
                    <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                            <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                            <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                            <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                            <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
	</header><br>
	<main role="main" class="">
		{% block content %}{% endblock %}
	</main>

    <br>

    <footer class="footer">
        <div class="container">
            <div class="text-center tooterIcons">
                <a href="https://web.facebook.com/getblogsite/" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://www.youtube.com/channel/UCvCgfaTgk3Fw7-CHa9G7GkA/featured?view_as=subscriber"><i class="fa fa-youtube-square fa-3x" target="_blank"></i></a>
                <a href="#"><i class="fa fa-instagram fa-3x" target="_blank"></i></a>
                <a href="#"><i class="fa fa-twitter fa-3x" target="_blank"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x" target="_blank"></i></a>
                <a href="#"><i class="fa fa-google-plus fa-3x" target="_blank"></i></a>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <P>
                        Powered by <a href="https://web.facebook.com/getblogsite/" target="_blank">SCHNEIDER<sup> R</sup></a>
                    </P>
                </div>
                <div class="col-md-4">
                    <P class="footerP" style="margin-left: 80px">
                        <a href="#">
                            <i class="fa fa-arrow-up"></i> Go back!
                        </a>
                    </P>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS Google Map Key -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

   <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1U1fn7cmqDOByl14GrUTzmL4rT_9axq0&callback=initMap">
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/typed.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    
    
    <script type="text/javascript">
        $(function() {
            
            /***************************************
            ****    BLOGSITE WELCOME TYPING TEXT
            ****    DEVELOPER: SCHNEIDER MICHAEL
            /***************************************/
            var typed = new Typed(".typing_text", {
                strings: [,"Welcome to the blog of Share Ideas",
                "Where ideas are shared!!!."],
                stringElement: null,

                /** type speed in milliseconds */
                typeSpeed: 60,

                /** time before typing starts in milliseconds */
                startDelay: 0,

                 /**  backspacing speed in milliseconds */
                backSpeed: 50,

                /** only backspace what doesn't match the previous string  */
                smartBackspace: true,

                /** shuffle the strings */
                shuffle: false,

                /** time before backspacing in milliseconds */
                backDelay: 700,

                /**
                * Fade out instead of backspace
                * css class for fade animation
                * Fade out delay in milliseconds
                */
                fadeOut: false,
                fadeOutClass: 'typed-fade-out',
                fadeOutDelay: 500,

                /**
                * loop strings
                *  amount of loops
                */
                loop: true,
                loopCount: Infinity,

                /**
                * show cursor
                * character for cursor
                * insert CSS for cursor and fadeOut into HTML <head>
                */
                showCursor: true,
                cursorChar: '|',
                autoInsertCss: true,

                /**
                * attribute for typing
                * Ex: input placeholder, value, or just HTML text
                */
                attr: null,

                /**
                * bind to focus and blur if el is text input
                */
                bindInputFocusEvents: false,

                /**
                * 'html' or 'null' for plaintext
                */
                contentType: 'html',

                /**
                * All typing is complete
                * 
                */
                onComplete: (self) => {},

                /**
                * Before each string is typed
                * @param {number} arrayPos
                * @param {Typed} self
                */
                preStringTyped: (arrayPos, self) => {},

                /**
                * After each string is typed
                */
                onStringTyped: (arrayPos, self) => {},

                /**
                * During looping, after last string is typed
                */
                onLastStringBackspaced: (self) => {},

                /**
                * Typing has been stopped
                */
                onTypingPaused: (arrayPos, self) => {},

                /**
                * Typing has been started after being stopped
                */
                onTypingResumed: (arrayPos, self) => {},

                /**
                * After reset
                */
                onReset: (self) => {},

                /**
                * After stop
                */
                onStop: (arrayPos, self) => {},

                /**
                * After start
                */
                onStart: (arrayPos, self) => {},

                /**
                * After destroy
                */
                onDestroy: (self) => {}

            }); 

        });
    </script>

</body>
</html>