{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="content-section">
                	<form method="POSt" action="">
                		{{ form.hidden_tag() }}
                		<fieldset class="form-group">
                			<legend class="border-bottom mb-4">Join Us Today<sup>R</sup></legend>
                			<div class="form-group">
                				{{ form.name.label(class="form-control-label") }}

                				{% if form.name.errors %}
                				    {{ form.name(class="form-control form-control-lg is-invalid") }}
                				    <div class="invalid-feedback">
                				    	{% for error in form.name.errors %}
                				    	    <span>{{ error }}</span>
                				    	{% endfor %}
                				    </div>
                				{% else %}
                				    {{ form.name(class="form-control form-control-lg") }}
                				{% endif %}
                			</div>
                			<div class="form-group">
                				{{ form.age.label(class="form-control-label") }}
                				
                				{% if form.age.errors %}
                				    {{ form.age(class="form-control form-control-lg is-invalid") }}
                				    <div class="invalid-feedback">
                				    	{% for error in form.age.errors %}
                				    	    <span>{{ error }}</span>
                				    	{% endfor %}
                				    </div>
                				{% else %}
                				    {{ form.age(class="form-control form-control-lg") }}
                				{% endif %}
                			</div>
                			<div class="form-group">
                				{{ form.email.label(class="form-control-label") }}
                				
                				{% if form.email.errors %}
                				    {{ form.email(class="form-control form-control-lg is-invalid") }}
                				    <div class="invalid-feedback">
                				    	{% for error in form.email.errors %}
                				    	    <span>{{ error }}</span>
                				    	{% endfor %}
                				    </div>
                				{% else %}
                				    {{ form.email(class="form-control form-control-lg") }}
                				{% endif %}
                			</div>
                			<div class="form-group">
                				{{ form.username.label(class="form-control-label") }}
                				
                				{% if form.username.errors %}
                				    {{ form.username(class="form-control form-control-lg is-invalid") }}
                				    <div class="invalid-feedback">
                				    	{% for error in form.username.errors %}
                				    	    <span>{{ error }}</span>
                				    	{% endfor %}
                				    </div>
                				{% else %}
                				    {{ form.username(class="form-control form-control-lg") }}
                				{% endif %}
                			</div>
                			<div class="form-group">
                				{{ form.password.label(class="form-control-label") }}
                				
                				{% if form.password.errors %}
                				    {{ form.password(class="form-control form-control-lg is-invalid") }}
                				    <div class="invalid-feedback">
                				    	{% for error in form.password.errors %}
                				    	    <span>{{ error }}</span>
                				    	{% endfor %}
                				    </div>
                				{% else %}
                				    {{ form.password(class="form-control form-control-lg") }}
                				{% endif %}
                			</div>
                			<div class="form-group">
                				{{ form.confirm_password.label(class="form-control-label") }}
                				
                				{% if form.confirm_password.errors %}
                				    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                				    <div class="invalid-feedback">
                				    	{% for error in form.confirm_password.errors %}
                				    	    <span>{{ error }}</span>
                				    	{% endfor %}
                				    </div>
                				{% else %}
                				    {{ form.confirm_password(class="form-control form-control-lg") }}
                				{% endif %}
                			</div>
                		</fieldset>
                		<div class="form-group">
                			{{ form.submit(class="btn btn-outline-primary") }}
                			<small class="text-muted ml-3">Already Have Account? <a class="ml-2" href="{{ url_for('users.login') }}"> Sign In</a></small>
                		</div>
                	</form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <div class="card latestP">
                        <div class="card-header">Latest Posts</div>
                        <ul class="list-group listGroup">
                            <li class="list-group-item list-group-item-light">Latest Post</li>
                            <li class="list-group-item list-group-item-light">Announcement</li>
                            <li class="list-group-item list-group-item-light">etc</li>
                        </ul>
                    </div>
                    <br>
                    <div class="card latestP">
                        <div class="card-header">Follow Social Page</div>
                        <div class="card-body followSocial">
                            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}